* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #2aa3e6;
}
main {
  margin: 10vh 30vw;
  background-color: rgb(229, 239, 247);
  border: 2px solid black;
  box-shadow: black 8px 8px;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: repeat(7, 1fr);
  height: 500px;
  width: 500px;
}
div {
  display: grid;
  align-items: center;
  border: 1px solid black;
  font-size: 1.5rem;
}
div p {
    margin-left: 10px;
}
.color{
    color: blue;
}
